{% extends '/index/base.twig' %}
{% block content %}

    <p>hello {{ fize.name }}, your mobile is {{ fize.mobile }}</p>
    <h2>以下演示列表</h2>

    <ul>
        {% for row in rows %}
            <li>{{ row.id }} : {{ row.name }}</li>
        {% endfor %}
    </ul>

{% endblock %}